*{
    font-size: 2vw;
    margin: 0;
    color: #000;
    text-decoration: none;
}
body{
    background-color: #ede3da;
}

/* Skip Menu */


/* Header Section*/

header{
    position: sticky;
    top: 0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
    align-items: center;
    backdrop-filter: blur(15px);

    .logo{
        margin-left: 2.5vw;
        width: 15%;
        font-size: 2.5vw;
    }
    li{
        display: inline;
    }
    a{
        padding-right: 1vw;
        position: relative;
    }
    a::before{
        content: '';
        width: calc(100% - 1vw);
        height: 1px;
        background-color: red;
        position: absolute;
        left: 0;
        bottom: 0.5vw;
        transform: scaleX(0);
        transition: all 0.5s;
    }
    a:hover::before{
        background-color: white;
        transform: scaleX(1);
    }
    a:focus{

    }
    .menu{
        display: flex;
        justify-content: space-between;
        width: 55%;
    }
    .header_nav_mobile{
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .header_nav_mobile span{
        display: block;
        width: 40px;
        height: 2px;
        background-color:#000;
        margin-top: 19px;
        position: relative;
    }
    .header_nav_mobile span::before{
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color:#000;
        position: absolute;
        right: 0;
        top: 6px;
        transition: width 0.3s;
    }
    .header_nav_mobile span::after{
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background-color:#000;
        position: absolute;
        left: 0;
        bottom: 6px;
        transition: width 0.3s;
    }
    @media (max-width:1070px){
        .menu{
            display: none;
        }
        .menu.show{
            display: block;
        }
        .menu.show ul{
            border-top: 1px solid red;
            display: block;
            position: absolute;
            right: 0;
            top: 68px;
            background-color: rgba(116, 99, 99, 0.1);
            backdrop-filter: blur(15px);
            z-index: 10000;
            min-width: 150px;
            padding: 20px 0;
        }
        .menu.show li{
            display: block;
            text-align: right;
        }
        .menu.show li a{
            color: #fff;
            display: inline-block;
            padding: 10px;
        }
        .git i{
            color:#fff;
        }
        .menu.show + .header_nav_mobile span::before{
            width: 20px;
        }
        .menu.show + .header_nav_mobile span::after{
            width: 20px;
        }

        .header_nav_mobile{
            display: block;
        }
    }
}

main{

    i:hover{
        border-bottom: 1px solid red;
    }
    
    /* Intro Section*/

    .intro{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #000;
    }
    .intro span{
        margin-top: 1vw;
        width: 90%;
        height: 10vw;
        background: url("/Images/introwp.jpg") center/cover no-repeat;
    }
    .intro p{
        color: #fff;
    }
    .intro i{
        color: #fff;
    }

    /* Skill Sections*/

    .skillIner{
        padding: 2vw;
        display: flex;
        justify-content: space-between;
    }
    .skillTitle{
        position: sticky;
        top: 30px;
        left: 0;
        width: 47%;
        height: 5vw;
        font-size: 4vw;
        font-weight: 900;
        line-height: 1.6;
        text-transform: uppercase;
        border-bottom: 0.4vw solid black;
    }
    .skillDesc{
        width: 50%;
    }
    .skillDesc div{
        margin-bottom: 10vw;
        height: 20vw;
    }

    .skillDesc span{
        font-size: 5vw;
        line-height: 1.3;
        font-weight: 900;

    }
    .skillDesc h3{
        font-size: 1.5rem;
        text-decoration: underline;
        margin-bottom: 1vw;
    }
    .skillDesc p{
        margin-bottom: 30vh;
        font-size: 1.5rem;
    }

    @media (max-width: 800px){
        .skillIner{
            flex-direction: column;
        }
        .skillTitle{
            width: 100%;
            margin-bottom: 10vw;
            font-size: 30px;
            height: auto;
            background-color: #ede3da;
        }
        .skillDesc{
            width: 100%;
        }
        .skillDesc span{
            font-size: 15vw;
        }
    }

}